.dash {
  padding: 20px 140px;
}
.infos,
.chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: var(--gray);
  margin-top: 20px;
  padding: 5px;
  border-radius: 7px;
  color: #fff;
  padding-top: 5px;
  max-width: 300px;
  width: 30%;
  text-align: center;
}

.card span {
  font-size: 36px;
  color: coral;
}

.card .amount {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}
.card p {
  color: #e3e3e4;
}

.orderDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}
.orderDetails .card {
  width: 70%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}
.orderDetails .section {
  width: 30%;
  border-right: 1px solid #fff;
}

.orderDetails .last {
  border: none;
}

.orderDetails span {
font-size: 26px;
margin-bottom: 20px;
}
.orderDetails .value{
    margin-top: 12px;
    color: #bebebe;
    font-size: 19px;
}

.orderDetails p{
    color: #bebebe; 
    font-size: 14px;
}
@media screen and (max-width: 991px) {
  .dash {
    padding: 20px 80px;
  }
}
@media screen and (max-width: 767px) {
  .dash {
    padding: 20px 60px;
  }
  .card {
    max-width: 100%;
    width: 92%;
    padding-bottom: 20px;
  }
  .orderDetails .card {
    max-width: 100%;
    width: 92%;
    padding-top: 20px;
    justify-content: space-between;
  }

  .infos,
  .chart {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 567px) {
  .dash {
    padding: 20px 10px;
  }
}
