.app {
  padding: 5px 24px;
}

.app table tbody tr:nth-child(even) {
  background-color: rgba(25, 200, 104, 0.2) !important;
}
.app table tbody tr:nth-child(odd) {
  background-color: rgba(255, 131, 85, 0.2) !important;
}
